<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/base.html :: headerfiles"/>
    <title>Credential - DIDKit Example</title>
</head>
<body>
<th:block th:include="fragments/base.html :: header"/>

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h1>Credential Offer</h1>
            <h2 class="mb-4 text-muted">To receive your credential, please enter your DID.</h2>
            <form role="form" th:action="@{/credential}" th:method="post">
                <div class="my-2">
                    <label class="form-label" for="did">DID:</label>
                    <input class="form-control" type="text" id="did" name="did" placeholder="did:..." size=72/>
                </div>

                <input class="btn btn-primary" type="submit" value="Get Credential"/>
            </form>

            <hr/>
            <h1>Using a Digital Wallet</h1>
            <h2 class="mb-4 text-muted">
                If you prefer to use a digital wallet, such as
                <a href="https://github.com/spruceid/credible">Credible</a>,
                scan the following QRCode.
            </h2>
            <img class="d-block mx-auto" th:src="'data:image/png;base64,' + ${qrcode}"/>
        </div>
    </div>
</div>

<th:block th:include="fragments/base.html :: footer"/>
<th:block th:include="fragments/base.html :: scripts"/>
</body>
</html>
