<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/base.html :: headerfiles"/>
    <title>Credential - DIDKit Example</title>
</head>
<body>
<th:block th:include="fragments/base.html :: header"/>

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h1>Credential Offer</h1>
            <h2 class="mb-4 text-muted">Here is your Verifiable Credential.</h2>
            <div class="my-2">
                <label class="form-label" for="credential">Credential:</label>
                <textarea class="form-control" th:text="${credential}" rows=4 cols=64 id="credential" readonly />
            </div>

            <button id="chapi-store" class="btn btn-primary" >Save to CHAPI wallet</button>
        </div>
    </div>
</div>

<th:block th:include="fragments/base.html :: footer"/>
<th:block th:include="fragments/base.html :: scripts"/>
</body>
</html>
