credential-signed.jsonld
credential-unsigned.jsonld
credential-verify-result.json
key.jwk
presentation-signed.jsonld
presentation-unsigned.jsonld
presentation-verify-result.json
auth-verify-result.json
auth.jsonld
did.json
vm.json
