<!DOCTYPE html>
{% load qrcode %}
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>DIDKit Django</title>
  </head>
  <body class="flex flex-col items-center justify-center h-screen w-screen">
      <form class="flex items-center justify-center mb-4" method="post" action="/didkit/credential/">
        {% csrf_token %}
        <input type="text" placeholder="Enter your DID:" class="h-12 p-4 border border-blue-900 rounded mr-4" name="subject_id" />
        <button
          class="h-12 p-2 border border-blue-900 rounded"
          type="submit"
        >
          Get credential
        </button>
      </form>
      <p>or scan the QRCode bellow with your wallet. i.e: Credible</p>
      <div>{% qr_from_text url size="S" image_format="svg" %}</div>
      <p>or</p>
      <a href="/didkit/credential">
        <button
          class="h-12 p-2 border mt-6 border-blue-900 rounded"
          type="submit"
        >
          Get server issued credential
        </button>
      </a>
  </body>
</html>