name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: didkit

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout DIDKit repository
      uses: actions/checkout@v2
      with:
        path: didkit

    - name: Checkout SSI library
      uses: actions/checkout@v2
      with:
        repository: spruceid/ssi
        token: ${{ secrets.GH_ACCESS_TOKEN_CEL }}
        path: ssi
        ref: 71daa2663f3a6af00ba7f89d37ed5dd10afba8cc

    - name: Cache Cargo registry and build artifacts
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml', 'lib/Makefile', '**.rs') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Install Rust nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal
        default: true

    - name: Build
      run: cargo build --verbose --workspace

    - name: Test
      run: cargo test --verbose --workspace

    - name: Test CLI
      run: cli/tests/example.sh

    - name: Checkout vc-http-api
      uses: actions/checkout@v2
      with:
        repository: spruceid/vc-http-api
        token: ${{ secrets.GH_ACCESS_TOKEN_CEL }}
        path: vc-http-api
        ref: a7dcc3ed7c96f93059860511d19b384700fb43cc

    - name: Run vc-http-api test suite
      working-directory: vc-http-api/packages/plugfest-2020
      run: |
        npm i
        ./vendors/spruce/test.sh

    - name: Install Rust Android targets
      run: make -C lib install-rustup-android

    - name: Install JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install Flutter
      uses: subosito/flutter-action@v1

    - name: Opt out of Dart/Flutter analytics
      run: |
        dart --disable-analytics
        flutter --suppress-analytics config --no-analytics

    - name: Install Android SDK
      uses: android-actions/setup-android@v2

    - name: Cache Android NDK
      id: ndk-cache
      uses: actions/cache@v2
      with:
        path: ${{ env.ANDROID_SDK_ROOT }}/ndk-bundle
        key: ${{ runner.os }}-ndk-bundle

    - name: Install Android NDK
      if: steps.ndk-cache.outputs.cache-hit != 'true'
      run: $ANDROID_SDK_ROOT/tools/bin/sdkmanager ndk-bundle

    - name: Test C FFI
      run: make -C lib ../target/test/c.stamp

    - name: Test JNI
      run: make -C lib ../target/test/java.stamp

    - name: Test Dart/Flutter plugin
      run: make -C lib ../target/test/flutter.stamp

    - name: Build Android Archive
      run: make -C lib ../target/test/aar.stamp
