name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  SSI_REF: e865520085dc1b88f0a26fa94380b7590cbf6725

defaults:
  run:
    working-directory: didkit

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout DIDKit repository
      uses: actions/checkout@v3
      with:
        path: didkit

    - name: Checkout SSI library
      uses: actions/checkout@v3
      with:
        repository: spruceid/ssi
        path: ssi
        ref: ${{env.SSI_REF}}
        submodules: true

    - name: Cache Cargo registry and build artifacts
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml', 'lib/Makefile', '**.rs') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Install Rust old stable with incremental compilation
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.60.0
        profile: minimal
        default: true

    - name: Build
      run: cargo build --verbose

    - name: Test
      run: cargo test --verbose

    - name: Test CLI
      run: cli/tests/example.sh

    - name: Test CLI with ssh-agent
      run: cli/tests/ssh-agent.sh

    - name: Test HTTP server
      run: http/tests/example.sh

    - name: Test CLI (did:tz)
      env:
        DID_METHOD: tz
      run: cli/tests/example.sh

    - name: Test HTTP server (did:tz)
      env:
        DID_METHOD: tz
      run: http/tests/example.sh

    - name: Test CLI (JWT)
      env:
        PROOF_FORMAT: jwt
      run: cli/tests/example.sh

    - name: Test CLI (JWT VC in LDP VP)
      env:
        VC_PROOF_FORMAT: jwt
      run: cli/tests/example.sh

    - name: Test CLI (LDP VC in JWT VP)
      env:
        VP_PROOF_FORMAT: jwt
      run: cli/tests/example.sh

    - name: Test HTTP server (JWT)
      env:
        PROOF_FORMAT: jwt
      run: http/tests/example.sh

    - name: Test HTTP server (JWT VC in LDP VP)
      env:
        VC_PROOF_FORMAT: jwt
      run: cli/tests/example.sh

    - name: Test HTTP server (LDP VC in JWT VP)
      env:
        VP_PROOF_FORMAT: jwt
      run: cli/tests/example.sh

    - name: Test binary-signing verify example
      run: examples/binary-signing/index.sh verify examples/binary-signing/hello.txt examples/binary-signing/hello-vc.jsonld

    - name: Checkout VC API Test Suite
      uses: actions/checkout@v3
      with:
        repository: w3c-ccg/vc-api-test-suite
        path: didkit/http/tests/vc-api/vc-api-test-suite
        ref: 4923f0d627a223cd20a4ceb112336477ded445ca

    - name: Run VC API Test Suite
      working-directory: didkit/http/tests/vc-api
      run: |
        npm install
        npm test

    - name: Install wasm-pack
      run: make -C lib install-wasm-pack

    - name: Use system JDK
      run: echo "$JAVA_HOME/bin" >> $GITHUB_PATH

    - name: Install Flutter
      uses: subosito/flutter-action@v1
      with:
        channel: 'dev'

    - name: Opt out of Dart/Flutter analytics
      run: |
        dart --disable-analytics
        flutter --suppress-analytics config --no-analytics

    - name: Test C FFI
      run: make -C lib ../target/test/c.stamp

    - name: Test WASM package
      run: make -C lib ../target/test/wasm.stamp

    - name: Test JNI
      run: make -C lib ../target/test/java.stamp

    - name: Test Dart/Flutter plugin
      run: make -C lib ../target/test/flutter.stamp

    - name: Install Rust Android target
      run: rustup target add i686-linux-android
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
    - name: Install NDK
      run: sdkmanager --install "build-tools;29.0.3" "ndk;22.0.7026061" "cmdline-tools;latest"
    - name: Install gcc-multilib
      run: |
        sudo apt update
        sudo apt install gcc-multilib -y
    - name: Build Android Archive
      run: AR_i686_linux_android=$ANDROID_SDK_ROOT/ndk/22.0.7026061/toolchains/llvm/prebuilt/linux-x86_64/i686-linux-android/bin/ar PATH=$ANDROID_SDK_ROOT/ndk/22.0.7026061/toolchains/llvm/prebuilt/linux-x86_64/bin:$PATH TARGET_CC=$(which clang) cargo build --lib --target i686-linux-android

  build_ios:
    runs-on: macos-latest
    steps:
    - name: Checkout DIDKit repository
      uses: actions/checkout@v3
      with:
        path: didkit

    - name: Checkout SSI library
      uses: actions/checkout@v3
      with:
        repository: spruceid/ssi
        path: ssi
        ref: ${{env.SSI_REF}}
        submodules: true

    - name: Cache Cargo registry and build artifacts
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml', 'lib/Makefile', '**.rs') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Install Rust iOS targets
      run: make -C lib install-rustup-ios

    - name: Build iOS Library
      run: make -C lib ../target/test/ios.stamp

  build_windows:
    runs-on: windows-latest
    steps:
    - name: Checkout DIDKit repository
      uses: actions/checkout@v3
      with:
        path: didkit

    - name: Checkout SSI library
      uses: actions/checkout@v3
      with:
        repository: spruceid/ssi
        path: ssi
        ref: ${{env.SSI_REF}}
        submodules: true

    - name: Cache Cargo registry and build artifacts
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml', 'lib/Makefile', '**.rs') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Build
      run: cargo build --verbose
