name: push_image

on:
  push:
    branches:
      - main
  release:
      types: [published, created, edited]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout DIDKit repository
      uses: actions/checkout@v2
      with:
        path: didkit

    - name: Checkout SSI library
      uses: actions/checkout@v2
      with:
        repository: spruceid/ssi
        path: didkit/ssi
        submodules: true

    - name: Build and push CLI
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: spruceid/didkit-cli
        username: ${{ github.actor }}
        password: ${{ secrets.SBIHEL_GH_PACKAGE_PUSH_TOKEN }}
        registry: ghcr.io
        dockerfile: Dockerfile-cli
        workdir: didkit

    - name: Build and push HTTP
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: spruceid/didkit-http
        username: ${{ github.actor }}
        password: ${{ secrets.SBIHEL_GH_PACKAGE_PUSH_TOKEN }}
        registry: ghcr.io
        dockerfile: Dockerfile-http
        workdir: didkit
